<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488019672674-02u2g0a48hn4dhga2brmlb4gpvno8mgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488019672674-02u2g0a48hn4dhga2brmlb4gpvno8mgl</string>
	<key>API_KEY</key>
	<string>AIzaSyBZBuuoxW7lTkVIfR7HA_5tZh1PcXhUf_w</string>
	<key>GCM_SENDER_ID</key>
	<string>488019672674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.delillo.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-f102e</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-f102e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488019672674:ios:026ee69f6023087502db3b</string>
</dict>
</plist>